MinoRatingPlugin/MinoRatingPlugin/Service References/minoRatingServer/121.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:805/minorating/12?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:805/minorating/12?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:805/minorating/12?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" />
  <xs:import schemaLocation="http://localhost:805/minorating/12?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="NewSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="lastId" type="q1:guid" />
        <xs:element minOccurs="0" name="servername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="track" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionType" type="xs:int" />
        <xs:element minOccurs="0" name="laps" type="xs:int" />
        <xs:element minOccurs="0" name="waittime" type="xs:int" />
        <xs:element minOccurs="0" name="sessionDurationMinutes" type="xs:int" />
        <xs:element minOccurs="0" name="ambient" type="xs:int" />
        <xs:element minOccurs="0" name="road" type="xs:int" />
        <xs:element minOccurs="0" name="elapsedMs" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fingerprint" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="pluginVersion" nillable="true" type="q2:Version" />
        <xs:element minOccurs="0" name="sessionCollisionsToKick" type="xs:int" />
        <xs:element minOccurs="0" name="sessionMassAccidentsToKick" type="xs:int" />
        <xs:element minOccurs="0" name="serverKickMode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="NewSessionResult" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="lastId" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" minOccurs="0" name="EndSessionResult" nillable="true" type="q5:ArrayOfPluginReaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LapCompleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q6:guid" />
        <xs:element minOccurs="0" name="created" type="xs:dateTime" />
        <xs:element minOccurs="0" name="car" type="xs:int" />
        <xs:element minOccurs="0" name="driver" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="laptime" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="cuts" type="xs:int" />
        <xs:element minOccurs="0" name="grip" type="xs:float" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" minOccurs="0" name="leaderboard" nillable="true" type="q7:ArrayOfLeaderboardEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LapCompletedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" minOccurs="0" name="LapCompletedResult" nillable="true" type="q8:ArrayOfPluginReaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DistanceDriven">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q9:guid" />
        <xs:element minOccurs="0" name="car" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" minOccurs="0" name="distanceDriven" nillable="true" type="q10:MRDistanceHelper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DistanceDrivenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" minOccurs="0" name="DistanceDrivenResult" nillable="true" type="q11:ArrayOfPluginReaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Collision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q12:guid" />
        <xs:element minOccurs="0" name="created" type="xs:dateTime" />
        <xs:element minOccurs="0" name="car" type="xs:int" />
        <xs:element minOccurs="0" name="otherCar" type="xs:int" />
        <xs:element minOccurs="0" name="speed" type="xs:float" />
        <xs:element minOccurs="0" name="splinepos" type="xs:float" />
        <xs:element minOccurs="0" name="relativeX" type="xs:float" />
        <xs:element minOccurs="0" name="relativeZ" type="xs:float" />
        <xs:element minOccurs="0" name="x" type="xs:float" />
        <xs:element minOccurs="0" name="z" type="xs:float" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" minOccurs="0" name="historyCar" nillable="true" type="q13:ArrayOfCarUpdateHistory" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" minOccurs="0" name="historyOtherCar" nillable="true" type="q14:ArrayOfCarUpdateHistory" />
        <xs:element minOccurs="0" name="bagId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" minOccurs="0" name="CollisionResult" nillable="true" type="q15:ArrayOfPluginReaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollisionV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q16:guid" />
        <xs:element minOccurs="0" name="created" type="xs:dateTime" />
        <xs:element minOccurs="0" name="car" type="xs:int" />
        <xs:element minOccurs="0" name="otherCar" type="xs:int" />
        <xs:element minOccurs="0" name="speed" type="xs:float" />
        <xs:element minOccurs="0" name="splinepos" type="xs:float" />
        <xs:element minOccurs="0" name="relativeX" type="xs:float" />
        <xs:element minOccurs="0" name="relativeZ" type="xs:float" />
        <xs:element minOccurs="0" name="x" type="xs:float" />
        <xs:element minOccurs="0" name="z" type="xs:float" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" minOccurs="0" name="historyCar" nillable="true" type="q17:ArrayOfCarUpdateHistory" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" minOccurs="0" name="historyOtherCar" nillable="true" type="q18:ArrayOfCarUpdateHistory" />
        <xs:element minOccurs="0" name="bagId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollisionV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" minOccurs="0" name="CollisionV2Result" nillable="true" type="q19:PluginReactionCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollisionTreeEnded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q20:guid" />
        <xs:element minOccurs="0" name="car" type="xs:int" />
        <xs:element minOccurs="0" name="otherCar" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="started" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ended" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollisionTreeEndedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" minOccurs="0" name="CollisionTreeEndedResult" nillable="true" type="q21:ArrayOfPluginReaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollisionTreeEndedV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q22:guid" />
        <xs:element minOccurs="0" name="car" type="xs:int" />
        <xs:element minOccurs="0" name="otherCar" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="started" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ended" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollisionTreeEndedV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" minOccurs="0" name="CollisionTreeEndedV2Result" nillable="true" type="q23:PluginReactionCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomCarInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q24:guid" />
        <xs:element minOccurs="0" name="carId" type="xs:int" />
        <xs:element minOccurs="0" name="car" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="driverId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isConnected" type="xs:boolean" />
        <xs:element minOccurs="0" name="sessionTime" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomCarInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" minOccurs="0" name="RandomCarInfoResult" nillable="true" type="q25:ArrayOfPluginReaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetVersionResult" nillable="true" type="q26:Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestDriverRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q27:guid" />
        <xs:element minOccurs="0" name="car" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestDriverRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" minOccurs="0" name="RequestDriverRatingResult" nillable="true" type="q28:ArrayOfPluginReaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestMRCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q29:guid" />
        <xs:element minOccurs="0" name="car" type="xs:int" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q30:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestMRCommandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" minOccurs="0" name="RequestMRCommandResult" nillable="true" type="q31:ArrayOfPluginReaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestMRCommandAdminInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q32:guid" />
        <xs:element minOccurs="0" name="car" type="xs:int" />
        <xs:element minOccurs="0" name="isAdmin" type="xs:boolean" />
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q33:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestMRCommandAdminInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" minOccurs="0" name="RequestMRCommandAdminInfoResult" nillable="true" type="q34:ArrayOfPluginReaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestDriverLoaded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q35:guid" />
        <xs:element minOccurs="0" name="car" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestDriverLoadedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" minOccurs="0" name="RequestDriverLoadedResult" nillable="true" type="q36:ArrayOfPluginReaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingActions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q37:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" minOccurs="0" name="GetPendingActionsResult" nillable="true" type="q38:ArrayOfPluginReaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>