MinoRatingPlugin/MinoRatingPlugin/Service References/minoRatingServer/122.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:805/minorating/12?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfPluginReaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PluginReaction" nillable="true" type="tns:PluginReaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPluginReaction" nillable="true" type="tns:ArrayOfPluginReaction" />
  <xs:complexType name="PluginReaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Delay" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reaction" type="tns:PluginReaction.ReactionType" />
      <xs:element minOccurs="0" name="SteamId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PluginReaction" nillable="true" type="tns:PluginReaction" />
  <xs:simpleType name="PluginReaction.ReactionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Whisper" />
      <xs:enumeration value="Broadcast" />
      <xs:enumeration value="Ballast" />
      <xs:enumeration value="Pit" />
      <xs:enumeration value="Kick" />
      <xs:enumeration value="Ban" />
      <xs:enumeration value="RestartSession" />
      <xs:enumeration value="NextSession" />
      <xs:enumeration value="AdminCmd" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PluginReaction.ReactionType" nillable="true" type="tns:PluginReaction.ReactionType" />
  <xs:complexType name="TrackDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Length" type="xs:float" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PitAreaRectangle" nillable="true" type="q1:ArrayOffloat" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PitExitRectangle" nillable="true" type="q2:ArrayOffloat" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Splits" nillable="true" type="q3:ArrayOffloat" />
      <xs:element minOccurs="0" name="TrackName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackDefinition" nillable="true" type="tns:TrackDefinition" />
  <xs:complexType name="ArrayOfLeaderboardEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LeaderboardEntry" nillable="true" type="tns:LeaderboardEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeaderboardEntry" nillable="true" type="tns:ArrayOfLeaderboardEntry" />
  <xs:complexType name="LeaderboardEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarId" type="xs:int" />
      <xs:element minOccurs="0" name="DriverId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LapsDriven" type="xs:int" />
      <xs:element minOccurs="0" name="Rank" type="xs:int" />
      <xs:element minOccurs="0" name="Time" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeaderboardEntry" nillable="true" type="tns:LeaderboardEntry" />
  <xs:complexType name="ConsistencyReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cuts" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IsInlap" type="xs:boolean" />
      <xs:element minOccurs="0" name="LapStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Laptime" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="MaxGear" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="MaxVelocity" type="xs:float" />
      <xs:element minOccurs="0" name="MinGear" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="MinVelocity" type="xs:float" />
      <xs:element minOccurs="0" name="SplitResolution" type="xs:unsignedByte" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Splits" nillable="true" type="q4:ArrayOfunsignedInt" />
      <xs:element minOccurs="0" name="carId" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsistencyReport" nillable="true" type="tns:ConsistencyReport" />
  <xs:complexType name="MRDistanceHelper">
    <xs:sequence>
      <xs:element minOccurs="0" name="MetersAttackRange" type="xs:float" />
      <xs:element minOccurs="0" name="MetersBlueflagging" type="xs:float" />
      <xs:element minOccurs="0" name="MetersCombatRange" type="xs:float" />
      <xs:element minOccurs="0" name="MetersDriven" type="xs:float" />
      <xs:element minOccurs="0" name="Overtakes" type="xs:int" />
      <xs:element minOccurs="0" name="SplinePosCurrent" type="xs:float" />
      <xs:element minOccurs="0" name="SplinePosLast" type="xs:float" />
      <xs:element minOccurs="0" name="SplinePosTimeCurrent" type="xs:int" />
      <xs:element minOccurs="0" name="SplinePosTimeLast" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MRDistanceHelper" nillable="true" type="tns:MRDistanceHelper" />
  <xs:complexType name="ArrayOfCarUpdateHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarUpdateHistory" nillable="true" type="tns:CarUpdateHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarUpdateHistory" nillable="true" type="tns:ArrayOfCarUpdateHistory" />
  <xs:complexType name="CarUpdateHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EngineRPM" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="Gear" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="NormalizedSplinePosition" type="xs:float" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Velocity" nillable="true" type="q5:ArrayOffloat" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="WorldPosition" nillable="true" type="q6:ArrayOffloat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarUpdateHistory" nillable="true" type="tns:CarUpdateHistory" />
  <xs:complexType name="PluginReactionCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reactions" nillable="true" type="tns:ArrayOfPluginReaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PluginReactionCollection" nillable="true" type="tns:PluginReactionCollection" />
</xs:schema>