MinoRatingPlugin/MinoRatingPlugin/Service References/minoRatingServer/LiveDataDump.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LiveDataDump" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:805/minorating/12?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:805/minorating/12?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:805/minorating/12?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" />
      <xsd:import schemaLocation="http://localhost:805/minorating/12?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:805/minorating/12?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILiveDataDump_Alive_InputMessage">
    <wsdl:part name="parameters" element="tns:Alive" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_Alive_OutputMessage">
    <wsdl:part name="parameters" element="tns:AliveResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_NewSession_InputMessage">
    <wsdl:part name="parameters" element="tns:NewSession" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_NewSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_NewSessionWithConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:NewSessionWithConfig" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_NewSessionWithConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewSessionWithConfigResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_GetTrackDefinition_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackDefinition" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_GetTrackDefinition_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackDefinitionResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_EndSession_InputMessage">
    <wsdl:part name="parameters" element="tns:EndSession" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_EndSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_LapCompleted_InputMessage">
    <wsdl:part name="parameters" element="tns:LapCompleted" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_LapCompleted_OutputMessage">
    <wsdl:part name="parameters" element="tns:LapCompletedResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_LapCompletedConsistencySplits_InputMessage">
    <wsdl:part name="parameters" element="tns:LapCompletedConsistencySplits" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_LapCompletedConsistencySplits_OutputMessage">
    <wsdl:part name="parameters" element="tns:LapCompletedConsistencySplitsResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_DistanceDriven_InputMessage">
    <wsdl:part name="parameters" element="tns:DistanceDriven" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_DistanceDriven_OutputMessage">
    <wsdl:part name="parameters" element="tns:DistanceDrivenResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_Collision_InputMessage">
    <wsdl:part name="parameters" element="tns:Collision" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_Collision_OutputMessage">
    <wsdl:part name="parameters" element="tns:CollisionResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_CollisionV2_InputMessage">
    <wsdl:part name="parameters" element="tns:CollisionV2" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_CollisionV2_OutputMessage">
    <wsdl:part name="parameters" element="tns:CollisionV2Response" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_CollisionV21_InputMessage">
    <wsdl:part name="parameters" element="tns:CollisionV21" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_CollisionV21_OutputMessage">
    <wsdl:part name="parameters" element="tns:CollisionV21Response" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_CollisionV22_InputMessage">
    <wsdl:part name="parameters" element="tns:CollisionV22" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_CollisionV22_OutputMessage">
    <wsdl:part name="parameters" element="tns:CollisionV22Response" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_CollisionTreeEnded_InputMessage">
    <wsdl:part name="parameters" element="tns:CollisionTreeEnded" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_CollisionTreeEnded_OutputMessage">
    <wsdl:part name="parameters" element="tns:CollisionTreeEndedResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_CollisionTreeEndedV2_InputMessage">
    <wsdl:part name="parameters" element="tns:CollisionTreeEndedV2" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_CollisionTreeEndedV2_OutputMessage">
    <wsdl:part name="parameters" element="tns:CollisionTreeEndedV2Response" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_RandomCarInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:RandomCarInfo" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_RandomCarInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:RandomCarInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_GetVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_GetVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_RequestDriverRating_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestDriverRating" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_RequestDriverRating_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestDriverRatingResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_RequestMRCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestMRCommand" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_RequestMRCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestMRCommandResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_RequestMRCommandAdminInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestMRCommandAdminInfo" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_RequestMRCommandAdminInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestMRCommandAdminInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_RequestDriverLoaded_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestDriverLoaded" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_RequestDriverLoaded_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestDriverLoadedResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_GetPendingActions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingActions" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_GetPendingActions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingActionsResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_DriverBackToPits_InputMessage">
    <wsdl:part name="parameters" element="tns:DriverBackToPits" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_DriverBackToPits_OutputMessage">
    <wsdl:part name="parameters" element="tns:DriverBackToPitsResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_GetAuthData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthData" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_GetAuthData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ILiveDataDump">
    <wsdl:operation name="Alive">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/Alive" message="tns:ILiveDataDump_Alive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/AliveResponse" message="tns:ILiveDataDump_Alive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/NewSession" message="tns:ILiveDataDump_NewSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/NewSessionResponse" message="tns:ILiveDataDump_NewSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewSessionWithConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/NewSessionWithConfig" message="tns:ILiveDataDump_NewSessionWithConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/NewSessionWithConfigResponse" message="tns:ILiveDataDump_NewSessionWithConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrackDefinition">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/GetTrackDefinition" message="tns:ILiveDataDump_GetTrackDefinition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/GetTrackDefinitionResponse" message="tns:ILiveDataDump_GetTrackDefinition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/EndSession" message="tns:ILiveDataDump_EndSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/EndSessionResponse" message="tns:ILiveDataDump_EndSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LapCompleted">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/LapCompleted" message="tns:ILiveDataDump_LapCompleted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/LapCompletedResponse" message="tns:ILiveDataDump_LapCompleted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LapCompletedConsistencySplits">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/LapCompletedConsistencySplits" message="tns:ILiveDataDump_LapCompletedConsistencySplits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/LapCompletedConsistencySplitsResponse" message="tns:ILiveDataDump_LapCompletedConsistencySplits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DistanceDriven">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/DistanceDriven" message="tns:ILiveDataDump_DistanceDriven_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/DistanceDrivenResponse" message="tns:ILiveDataDump_DistanceDriven_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Collision">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/Collision" message="tns:ILiveDataDump_Collision_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/CollisionResponse" message="tns:ILiveDataDump_Collision_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CollisionV2">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/CollisionV2" message="tns:ILiveDataDump_CollisionV2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/CollisionV2Response" message="tns:ILiveDataDump_CollisionV2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CollisionV21">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/CollisionV21" message="tns:ILiveDataDump_CollisionV21_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/CollisionV21Response" message="tns:ILiveDataDump_CollisionV21_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CollisionV22">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/CollisionV22" message="tns:ILiveDataDump_CollisionV22_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/CollisionV22Response" message="tns:ILiveDataDump_CollisionV22_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CollisionTreeEnded">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/CollisionTreeEnded" message="tns:ILiveDataDump_CollisionTreeEnded_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/CollisionTreeEndedResponse" message="tns:ILiveDataDump_CollisionTreeEnded_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CollisionTreeEndedV2">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/CollisionTreeEndedV2" message="tns:ILiveDataDump_CollisionTreeEndedV2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/CollisionTreeEndedV2Response" message="tns:ILiveDataDump_CollisionTreeEndedV2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RandomCarInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/RandomCarInfo" message="tns:ILiveDataDump_RandomCarInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/RandomCarInfoResponse" message="tns:ILiveDataDump_RandomCarInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/GetVersion" message="tns:ILiveDataDump_GetVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/GetVersionResponse" message="tns:ILiveDataDump_GetVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestDriverRating">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/RequestDriverRating" message="tns:ILiveDataDump_RequestDriverRating_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/RequestDriverRatingResponse" message="tns:ILiveDataDump_RequestDriverRating_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestMRCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/RequestMRCommand" message="tns:ILiveDataDump_RequestMRCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/RequestMRCommandResponse" message="tns:ILiveDataDump_RequestMRCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestMRCommandAdminInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/RequestMRCommandAdminInfo" message="tns:ILiveDataDump_RequestMRCommandAdminInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/RequestMRCommandAdminInfoResponse" message="tns:ILiveDataDump_RequestMRCommandAdminInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestDriverLoaded">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/RequestDriverLoaded" message="tns:ILiveDataDump_RequestDriverLoaded_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/RequestDriverLoadedResponse" message="tns:ILiveDataDump_RequestDriverLoaded_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPendingActions">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/GetPendingActions" message="tns:ILiveDataDump_GetPendingActions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/GetPendingActionsResponse" message="tns:ILiveDataDump_GetPendingActions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DriverBackToPits">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/DriverBackToPits" message="tns:ILiveDataDump_DriverBackToPits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/DriverBackToPitsResponse" message="tns:ILiveDataDump_DriverBackToPits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthData">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/GetAuthData" message="tns:ILiveDataDump_GetAuthData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/GetAuthDataResponse" message="tns:ILiveDataDump_GetAuthData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILiveDataDump" type="tns:ILiveDataDump">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Alive">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/Alive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewSession">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/NewSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewSessionWithConfig">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/NewSessionWithConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrackDefinition">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/GetTrackDefinition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndSession">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/EndSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LapCompleted">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/LapCompleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LapCompletedConsistencySplits">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/LapCompletedConsistencySplits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DistanceDriven">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/DistanceDriven" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Collision">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/Collision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollisionV2">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/CollisionV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollisionV21">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/CollisionV21" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollisionV22">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/CollisionV22" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollisionTreeEnded">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/CollisionTreeEnded" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollisionTreeEndedV2">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/CollisionTreeEndedV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RandomCarInfo">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/RandomCarInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/GetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestDriverRating">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/RequestDriverRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestMRCommand">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/RequestMRCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestMRCommandAdminInfo">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/RequestMRCommandAdminInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestDriverLoaded">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/RequestDriverLoaded" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingActions">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/GetPendingActions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DriverBackToPits">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/DriverBackToPits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthData">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/GetAuthData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LiveDataDump">
    <wsdl:port name="BasicHttpBinding_ILiveDataDump" binding="tns:BasicHttpBinding_ILiveDataDump">
      <soap:address location="http://localhost:805/minorating/12" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>