MinoRatingPlugin/MinoRatingPlugin/Service References/minoRatingServer/LiveDataDump1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LiveDataDump" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:805/testing?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:805/testing?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:805/testing?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILiveDataDump_Tst_InputMessage">
    <wsdl:part name="parameters" element="tns:Tst" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_Tst_OutputMessage">
    <wsdl:part name="parameters" element="tns:TstResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_NewSession_InputMessage">
    <wsdl:part name="parameters" element="tns:NewSession" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_NewSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_NewConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:NewConnection" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_NewConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_ClosedConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:ClosedConnection" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_ClosedConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClosedConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_LapCompleted_InputMessage">
    <wsdl:part name="parameters" element="tns:LapCompleted" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_LapCompleted_OutputMessage">
    <wsdl:part name="parameters" element="tns:LapCompletedResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_Collision_InputMessage">
    <wsdl:part name="parameters" element="tns:Collision" />
  </wsdl:message>
  <wsdl:message name="ILiveDataDump_Collision_OutputMessage">
    <wsdl:part name="parameters" element="tns:CollisionResponse" />
  </wsdl:message>
  <wsdl:portType name="ILiveDataDump">
    <wsdl:operation name="Tst">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/Tst" message="tns:ILiveDataDump_Tst_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/TstResponse" message="tns:ILiveDataDump_Tst_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/NewSession" message="tns:ILiveDataDump_NewSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/NewSessionResponse" message="tns:ILiveDataDump_NewSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/NewConnection" message="tns:ILiveDataDump_NewConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/NewConnectionResponse" message="tns:ILiveDataDump_NewConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClosedConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/ClosedConnection" message="tns:ILiveDataDump_ClosedConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/ClosedConnectionResponse" message="tns:ILiveDataDump_ClosedConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LapCompleted">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/LapCompleted" message="tns:ILiveDataDump_LapCompleted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/LapCompletedResponse" message="tns:ILiveDataDump_LapCompleted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Collision">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveDataDump/Collision" message="tns:ILiveDataDump_Collision_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveDataDump/CollisionResponse" message="tns:ILiveDataDump_Collision_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILiveDataDump" type="tns:ILiveDataDump">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Tst">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/Tst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewSession">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/NewSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewConnection">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/NewConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosedConnection">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/ClosedConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LapCompleted">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/LapCompleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Collision">
      <soap:operation soapAction="http://tempuri.org/ILiveDataDump/Collision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LiveDataDump">
    <wsdl:port name="BasicHttpBinding_ILiveDataDump" binding="tns:BasicHttpBinding_ILiveDataDump">
      <soap:address location="http://localhost:805/testing" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>