MinoRatingPlugin/MinoRatingPlugin/Service References/minoRatingServer/minorating1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MinoRating.Core.proxy" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLeaderboardEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LeaderboardEntry" nillable="true" type="tns:LeaderboardEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeaderboardEntry" nillable="true" type="tns:ArrayOfLeaderboardEntry" />
  <xs:complexType name="LeaderboardEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarId" type="xs:int" />
      <xs:element minOccurs="0" name="DriverId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LapsDriven" type="xs:int" />
      <xs:element minOccurs="0" name="Rank" type="xs:int" />
      <xs:element minOccurs="0" name="Time" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeaderboardEntry" nillable="true" type="tns:LeaderboardEntry" />
</xs:schema>